.maintanance-link-sec{
    width: 100%;
    background-color: rgb(238, 244, 244);
    padding-bottom: 2rem;
}
.maintanance-link-inner{
    width: 90%;
    margin: 0 auto;
}
.maintanance-link-header h2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.maintanance-link-content{
    text-align: center;
}
.maintanance-link{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(100, 190, 243);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
}
.maintanance-link a{
    text-decoration: none;
    color: black;
}





body{
    margin: 0;
    padding: 0;
    font-family: cinzel;
}

.maintanance-page{
    padding-top: 3rem;
    background: linear-gradient(360deg, rgb(238, 244, 244), rgb(35, 127, 185));
}
.maintanance-page-inner{
    width: 100%;
}
.maintanance-page-inner h2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.maintanance-page-content{
   width: 90%;
   margin:  0 auto; 
   text-align: center;
}



.maintanance-services-con{
    width: 95%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.maintanance-service{
    background-color: rgba(237, 237, 237, 0.3);
    padding: 1rem;
    position: relative;
}
.maintanance-service h3{
    font-size: 13px;
}
.maintanance-service p{
    font-size: 12px;
}
.maintanance-service-button{
    background-color: rgb(34, 146, 206);
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}
.maintanance-service-button a{
    text-decoration: none;
    display: flex;
    color: white;
    font-weight: bold;
    text-align: center;
}

.on-going{
    width: 80%;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    background-color: rgba(237, 237, 237, 0.3);
}
.on-going h2{

    justify-self: center;
    text-align: center;
}
.on-going-button{
    width: 80%;
    background-color: rgb(34, 146, 206);
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.on-going-button a{
    text-decoration: none;
    color: white;
}

@media (max-width: 500px) {
    .maintanance-page-inner h2{
        font-size: 15px;
        margin: 0 auto;
        text-align: center;
        padding-top: 1rem;
    }
    .maintanance-page-content p{
        font-size: 15px;
        margin:  0 auto;
    }
    .on-going{
        width: 80%;
        padding: 1rem;
    }
    .on-going h2, p{
        font-size: 15px;
    }
    .on-going-button{
        font-size: 15px;
    }
}



@media (max-width: 440px) {
    .maintanance-link-header h2{
        font-size: 15px;
    }
    .maintanance-link-content{
        width: 90%;
        margin: 0 auto;
    }
    .maintanance-link-content p{
        font-size: 10px;
        width: 100%;
    }
    .maintanance-link{
        font-size: 10px;
        width: 90%;
    }
    .on-going p {
        width: 100%;
    }
}
@media (max-width: 335px) {
    .maintanance-service h3, p{
        text-align: center;
        margin: 0 auto;
    }
}